<h2>Novo Livro</h2>

<form action="/books" method="POST" class="form-container" id="bookForm">
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" id="title" name="title" required>
  </div>

  <div class="form-group">
    <label for="AuthorId">Autor</label>
    <select id="AuthorId" name="AuthorId" required>
      <option value="">Selecione...</option>
      {{#each authors}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="CategoryId">Categoria</label>
    <select id="CategoryId" name="CategoryId" required>
      <option value="">Selecione...</option>
      {{#each categories}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="PublisherId">Editora</label>
    <select id="PublisherId" name="PublisherId" required>
      <option value="">Selecione...</option>
      {{#each publishers}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="total">Total</label>
    <input type="number" id="total" name="total" min="0" value="1" required>
  </div>

  <div class="form-group">
    <label for="available">Disponíveis</label>
    <input type="number" id="available" name="available" min="0" value="1" required>
  </div>

  <button type="submit" class="btn">Salvar</button>
</form>
